.toggle-button-container {
    text-align: center;
}
.logo {
    height: 30px;
}
.see-courses-button-container{
    text-align: center;
}
.table{
  height: 600px;
  overflow: auto;


}
/*This is for the loading wheel, we can edit the attributes of the wheel in here.
hoping to place this in the section of the table, if not possible, just put in
the center of the page*/
/*Eventual plans: I hope to make the colors shift from blue to yellow to orange,
I also plan on making a running fox animation for it :)*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
/*This controls the animation, source https://www.w3schools.com/howto/howto_css_loader.asp*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
